footer {
    background-color: .footer {
        background-color: #865b33 ;
    
        li {
            color: whitesmoke;
        }
        
    } ;

    li {
        color: whitesmoke;
    }
    
}