<footer class="container-fluid">
    <div class="container-fluid">
      <!--columns wrap when for medium size screen-->
      <div class="row py-3">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <ul class="list-inline text-center mt-4 footer-list">
            <!--align list in center/list inline/footer-list (SCSS)-->
            <a routerLink="/"><li class="list-inline-item fs-3 me-3">Home</li></a>
            <a routerLink="/travels"><li class="list-inline-item fs-3 me-3">Travels</li></a><!--link to review page-->
            <a routerLink="/blog"><li class="dark list-inline-item fs-3 me-3">Blog</li></a>
            <a routerLink="/about"><li class="dark list-inline-item fs-3 me-3">About</li></a>
            <!-- <a href="contact.html"><li class="list-inline-item fs-3">Contact</li></a> -->
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <img src="assets/img/logo-neu.png" class="img-fluid mx-auto d-block" alt="Logo">
          <!--align img in the center-->
        </div>
      </div>
    </div>
</footer>