.hero.style {
   color: whitesmoke;
   padding-right: 20vw;
}


.hero-style h1, h4, p{
    text-shadow: 1.2px 1.2px 2.4px darkgray;
    color: whitesmoke;
}

/* .hero-style p{
    font-size : 1em;
    text-shadow: 1px 1px 2px darkgray;
    color: whitesmoke;
}  */


/*text disappears*/
@media only screen and (max-width: 988px) {
    .hero-style {
      display: none;
    }
  }
