<div *ngIf="hero.visible" class="container ">
    <div class="container col-md-6 offset-md-1 hero-style">  <!--hero-style = class for styling-->
      <h4>Experience The</h4>  
      <h1 class="fst-italic">Best Trip Ever</h1>
      <p fs-6>We are commited to offering travel services of the highest quality, combining our energy and enthusiasm with years of experience</p>  
      <p><a class = "btn btn-secondary btn-lg shadow mb-5" routerLink="/contact">Contact us</a></p>  <!--link to contact-page-->
    </div>  
</div>

