
<nav class="navbar navbar-expand-lg navbar-dark nav-style"> <!--nav-style css-class-->
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img src="assets/img/logo-neu.png" class="img-fluid logo"alt="Logo"></a>
    <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav me-3">
        <li class="nav-item">
          <a class="nav-link active li-style" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link active" routerLink="/travels">Travels</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link active" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-secondary px-4 my-2 my-sm-0 .text-nowrap" type="submit" routerLink="/cart"><i class="fas fa-shopping-cart"></i></button>
  </div>
</nav>
