
<nav class="navbar navbar-expand-lg navbar-dark nav-style">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img src="assets/img/logo" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active li-style" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/travels">Travels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-dark my-2 my-sm-0" type="submit" routerLink="/cart">Checkout</button>
  </div>
</nav>
