.nav-style {

    padding: 3vw 10vw 3vw 10vw;
    font-size: 1.5em;
    text-shadow: 1.2px 1.2px 2.4px black;
    color: whitesmoke;

}



button {
    text-shadow: 1.2px 1.2px 2.4px black;
}

ul {
    opacity: 0.9;
    border-radius: 0.3em;
}

li {
    opacity: 1;
}


/* @media only screen and (max-width: 850px) {
    ul {
      background-color: darkgrey;
      opacity: 0.95;
    }
  } */


