<div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 g-4 my-5 mx-4">
    <h1 class="text-center mb-4">Our travel-blog</h1>
    <div class="col mb-5">
        <div class="card h-100 card-style"><!--card-style class for css-->
           <div class="card-body mt-3">
            <h4 class="card-title text-center">Santiago de Chile</h4>
             <p class="card-text">Santiago is the capital and economic center of Chile. With its many museums, events, theaters, restaurants, bars and other entertainment and cultural opportunities, it is also the political and cultural center of the country. Its central location in the country makes it a great base for visiting other areas, and it is possible to ski in the nearby Andes and later be on the beach in the same day.</p>
             <h5 class="card-title">To see</h5>
             <p class="card-text">The Historical Center is the place to go for historical sights. For over five centuries this has been a governmental seat, and you can find buildings of great historical     significance here. One of them is the modernist colonial Palacio de la Moneda, built for minting of coins. From the mid 19th century it has also been the residence of the president until the coup of 1973 when it was bombed. The damage was repaired and it's still the residence of the president today.
                South of the palace is Alameda, the main drag of the city with the central university building (Casa Central de la Universidad de Chile), the San Francisco church and the Santa Lucia hill with great views of the old town. Plaza de Armas opposite the university building is the most lively area of the downtown and in addition to vendors you can often find artists, comedians and singers performing here. Nearby you can find the Metropolitan Cathedral, the Palace of the Royal Court (nowadays a museum) and the mayor's residence.</p>
             <p class="created-style card-text text-mute fst-italic">Created by: Carlton Orr</p>
             <p class="created-style card-text text-mute fst-italic">Created at: Wed Sep 29 2021 14:25:28</p>
           </div>
        <img src="https://cdn.pixabay.com/photo/2019/04/20/14/11/chile-4141951_1280.jpg" class="card-img-top d-none d-sm-block img-style" alt="Santiago">
        </div>
    </div>
    <div class="col mb-5">
        <div class="card h-100 shadow">
           <div class="card-body mt-3">
            <h4 class="card-title text-center">Santa Monica</h4>
            <p class="card-text">Anchoring the Westside of Los Angeles County, Santa Monica is a beachfront city popular with tourists for its expansive beach and its famous pier, which are among the most popular coastal attractions in Southern California. Within the city itself, visitors will find a number of urban shopping districts and plenty of restaurants and nightlife.</p>
            <h5 class="card-title">To see</h5>
            <p class="card-text">Throughout Santa Monica there are numerous pieces of public art to discover. From large murals to huge sculptures, there are almost 40 of these to check out.

                Bergamot Station Arts Center, 2525 Michigan Ave, +1 310 453-7535. M 9AM-4PM, Tu-F 9AM-5PM, Sa 10AM-5PM (Individual galleries may have different hours). Over 30 art galleries, including the Santa Monica Museum of Art. Free.
                Museum of Flying, 3100 Airport Ave (at Santa Monica Airport (KSMO), +1 310-398-2500. Fri-Sun 10AM-5PM. Centered around artifacts from the Douglas Aircraft Company, which used to manufacture iconic aircraft like the DC-3 at the Santa Monica Airport. It includes many aircraft in static display, from a replica Wright Flyer to WWII fighters to the microjet which appeared in the James Bond film Octopussy. "Rides" in a full-motion flight simulator are $8 each. $10 Adults.
                View Decks at Santa Monica Airport (KSMO), 3223 Donald Douglas Loop South (On the north and south sides of the Administration Building, +1 310-458-8411. dawn-dusk, daily. Open air-decks with picnic tables. Watch and photograph the airplanes as they come and go at the airport. Listen to Air Traffic Control on loudspeakers. Bring a picnic lunch. Also, Clover Park, at the corner of 25th Street and Ocean Park Boulevard, has a viewing area with a telescope focused on the runway. </p>
            <p class="created-style card-text text-mute fst-italic">Created by: Carlton Orr</p>
            <p class="created-style card-text text-mute fst-italic">Created at: Wed Sep 29 2021 14:25:28</p>
          </div>
       <img src="https://cdn.pixabay.com/photo/2017/06/24/19/52/santa-monica-2438666_1280.jpg" class="card-img-top d-none d-sm-block img-style" alt="Santa Monica">
       </div>
    </div>
    <div class="col mb-5">
        <div class="card h-100 shadow">
            <div class="card-body mt-3">
             <h4 class="card-title text-center">Hanoi</h4>
             <p class="card-text">Hanoi (Vietnamese: Hà Nội), the capital of Vietnam, and also its second largest city, is a fascinating blend of East and West, with Chinese influence from centuries of dominance, and French je ne sais quoi from its colonial past. It was largely unspoiled by the modern architecture of the 1970s and 80s, and is now undergoing a rapid transformation that makes it a rising star in Southeast Asia.</p>
             <h5 class="card-title">To see</h5>
             <p class="card-text"> Since the mid 1990s, Vietnamese cuisine has grown in quality and variation. Most famous remains "pho ga" (chicken noodle soup), "pho bo"(beef noodle soup), or "pho chay" (tofu noodle soup). There are various dishes including chicken, beef, fish and seafood, and there are hundreds, if not thousands, of restaurants nowadays in Hanoi catering to everyone's taste.

                In Hanoi, there are hundreds of street restaurants in small kiosks on the sidewalk, with plastic tables and chairs on the pavement. Eating at these restaurants is a great way to experience the local food and culture. It is worth mentioning that food quality, freshness, and hygiene can vary greatly. A bowl of noodle soup goes for 30-40,000 dong (Apr 2015) and market food stalls offer fruit portions, sausages, doughnuts and other foods for 10,000 to 20,000 dong (Jan 2011). Check your change as a few vendors seem to forget to give it, and learn a little Vietnamese because vendors often will not speak any or much English.</p>
             <p class="created-style card-text text-mute fst-italic">Created by: Carlton Orr</p>
             <p class="created-style card-text text-mute fst-italic">Created at: Wed Sep 29 2021 14:25:28</p>
           </div>
        <img src="https://cdn.pixabay.com/photo/2017/03/07/10/50/thue-huc-bridge-2123648_1280.jpg" class="card-img-top d-none d-sm-block img-style" alt="Hanoi">
        </div>
    </div>
    <div class="col mb-5">
        <div class="card h-100 shadow">
            <div class="card-body mt-3">
             <h4 class="card-title text-center">Stratford-upon-Avon</h4>
             <p class="card-text">
                Stratford-upon-Avon is an historic town on the River Avon in the English county of Warwickshire, best known as the home town of the great English playwright and poet, William Shakespeare. Today, it is a major theatre-going destination as the home of the Royal Shakespeare Company. As such, it represents one of the most popular tourist destinations in the country.
                
                Although it's often abbreviated to just "Stratford", when organising transport or accommodation always refer in full to "Stratford-upon-Avon". There's a large district of London called Stratford, plus a city in Ontario, where you don't want to go by mistake.</p>
             <h5 class="card-title">To see</h5>
             <p class="card-text">  There are five sites closely associated with Shakespeare, and managed by the Shakespeare Birthplace Trust. A combi-ticket (called "The Full Story") is best value and they can all be seen in the course of an afternoon. Three are central: Shakespeare's birthplace on Henley Street is the obvious starting point. In later life he bought a house at New Place - it's long been demolished, but you visit to see the garden there, and the adjoining Nash's House where his grand-daughter Elizabeth lived. His daughter Susanna married Dr John Hall, and Hall's Croft was their house. A mile west in the hamlet of Shottery is Anne Hathaway's Cottage, where she grew up before marrying Shakespeare. Three miles west in Wilmcote is Mary Arden's Farm, childhood home of Shakespeare's mother.

                Shakespeare's Birthplace, Henley St CV37 6QW. Apr-Aug 09:00-17:00, Sep-Oct 09:00-16:30, Nov-Mar 10:00-15:30. Probably the location of Shakespeare's birth, and definitely the home of his early years. His father was a glove-maker and town magistrate, with a spell as mayor, so this is a fairly prosperous home of the 16th century. Restored with period decor and many authentic items, and small garden. "Full story" adult £22.50, age 3-17 £14.50, conc £21; Birthplace only £17.50, £11.50, £16.50.
                New Place, 22 Chapel Street CV37 6EP. Same hours as Birthplace. Substantial mansion built in 1483 and bought by Shakespeare in 1602, but it owes its present appearance (ie totally invisible) to The Rev Francis Gastrell: he so loathed Shakespeare and pesky tourists that in 1759 he demolished it. A good start, but he was run out of town before he could set about the other properties. So the site is nowadays a charming garden in Elizabethan style. The adjoining building, Nash's House, was the home of Shakespeare's grand-daughter Elizabeth, and her first husband Thomas Nash. "Full story" prices as Birthplace; New Place only adult £12.50, age 3-17 £8, conc £11.50.</p>
             <p class="created-style card-text text-mute fst-italic">Created by: Carlton Orr</p>
             <p class="created-style card-text text-mute fst-italic">Created at: Wed Sep 29 2021 14:25:28</p>
           </div>
        <img src="https://cdn.pixabay.com/photo/2017/05/06/22/18/rsc-theatre-2291154_1280.jpg" class="card-img-top d-none d-sm-block img-style" alt="Stratford">
        </div>
    </div>
    <div class="col mb-5">
        <div class="card h-100 shadow">
            <div class="card-body mt-3">
             <h4 class="card-title text-center">Lima</h4>
             <p class="card-text">
                Lima is the capital of Peru and its largest city.

                Founded in 1535 by the Spanish conquistador Francisco Pizarro, the modern city is a curious mix of the modern mega city with some 'islands of modernity', large but orderly slum areas and colonial architecture in the city center. Lima was the seat of Spanish rule for 300 years, and as such it has wonderful churches, cloisters and monasteries.
                
                Lima is the best place to try Peruvian cuisine, which has a huge variety of ingredients from the coast, mountain and Amazon regions. The cold sea current that passes Peru's long coast makes the sea very rich in fish and seafood..</p>
             <h5 class="card-title">To see</h5>
             <p class="card-text"> The historic downtown, which is a UNESCO World Heritage Site.
                The Circuito Mágico del Agua (Magic Water Tour), a fountain and light display in the Parque de la Reserva and Parque Fermín Tangüis.
                The Parque del Amor (Lovers' Park) in Miraflores.
                The Costa Verde, Lima's impressive green coast stretches between San Miguel and Chorrillos.
                The tourist-friendly districts of Barranco, Miraflores and Santiago de Surco.
                The historical sites of Pueblo Libre, including the Cruz del Viajero, a monumental Christian cross dating from the era of the Conquistadores.
                Lima's best shopping malls: Plaza Norte, Jockey Plaza, Larcomar, Mall Aventura Plaza, Real Plaza Salaverry.
                Historical churches: Lima´s Cathedral, Santo Domingo (San Martín de Porres), Santa Rosa (Santa Rosa de Lima), Nazarenas (Señor de los Milagros), San Francisco.
                Museums: Museo nacional de Arqueología, Antropología e Historia (Pueblo Libre), Museo de Arte (Paseo Colón), Museo Pedro de Osma (Barranco), Museo Rafael Larco (Pueblo Libre).
                Parque Kennedy in the center of Miraflores. This park is right in the entertainment district and is famous for the large number of cats that used to live there.</p>
             <p class="created-style card-text text-mute fst-italic">Created by: Carlton Orr</p>
             <p class="created-style card-text text-mute fst-italic">Created at: Wed Sep 29 2021 14:25:28</p>
           </div>
        <img src="https://cdn.pixabay.com/photo/2018/05/20/21/36/historic-centre-3416862_1280.jpg" class="card-img-top d-none d-sm-block img-style" alt="Lima">
        </div>
    </div>
    <div class="col mb-5">
        <div class="card h-100 shadow">
            <div class="card-body mt-3">
             <h4 class="card-title text-center">Ephesus</h4>
             <p class="card-text">
                Ephesus (Turkish: Efes) is a large world heritage-listed archeological site in Aegean Turkey and one of the country's major tourist attractions.</p>
             <h5 class="card-title">To see</h5>
             <p class="card-text">Sights are listed in the order that they are encountered when walking down from the Upper Gate.

                Terrace House. Housed under a protective roof, this remarkably preserved Roman house is definitely worth the price of admission. Segmented into several different individual units, the marble and mosaics that decorated the house have been painstakingly restored, giving an impression of how the Roman upper-class once lived. Like the rest of Ephesus the site is a working archaeological area, but raised paths allow you to visit the majority and informative signs illuminate what you are seeing along the way. 30 TL.
                Celsus Library. One of the highlights of Turkey, the impressively restored facade of this ancient library stands three stories high and is a historically accurate recreation of how the library once appeared. Built between 117 and 120 AD, the library once held as many as 12,000 scrolls, making it one of the largest in the Ancient world.
                Great Theatre. The 25,000-seat theatre has been used for major concerts, such as Elton John, Ray Charles and Jethro Tull. Today, to ensure its protection it is used only for smaller acts. The theatre was built around 200 BC, and expanded or renovated several times thereafter.</p>
             <p class="created-style card-text text-mute fst-italic">Created by: Carlton Orr</p>
             <p class="created-style card-text text-mute fst-italic">Created at: Wed Sep 29 2021 14:25:28</p>
           </div>
        <img src="https://cdn.pixabay.com/photo/2017/08/22/21/27/celsus-2670527_1280.jpg" class="card-img-top d-none d-sm-block img-style" alt="Ephesus">
        </div>
    </div>











</div>
