<div class="card my-5">
    <div class="row g-0">
        <div class="col-md-6">
        <div class="card-body">
          <p class="card-text">We Will Make Your Vacation Unforgetable.</p>
          <h3 class="card-title">Services We Offer</h3>
          <p class="card-text text-muted">
            <!-- <small class="text-muted"> -->
              <span class="pe-3"><u>Travel Insurance</u></span>
              <span class="pe-3">Flights</span>
              <span class="pe-3">Sightseeing</span>
              <span>Accommodation</span>
           <!-- </small> -->
           </p> 
           <!-- <hr> -->
          <p class="card-text text-muted pt-3">It is strongly recommended that you buy an additional insurance which will cover for all medical treatment and ambulance services including repatriation before travelling abroad. Especially if you should require air ambulance services, it is essential that you know the limit and validity of your insurance policy. The Federal Ministry for European and International Affairs, however, does not take any responsibility for the quality of the insurance companies and air ambulances listed as an example on this page.</p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="https://pixabay.com/get/g6e196b7a763736120decf1947f54a59866963461ebe00f05001bbe68f395b0cb2e7fa4213b41c26ef31c0ba0ec973400_640.jpg"class="img-fluid" alt="Flights">
      </div>
    </div>
  </div>

  <div class="card my-5">
    <div class="row g-0">
        <div class="col-md-6">
        <div class="card-body">
          <p class="card-text">We Will Make Your Vacation Unforgetable.</p>
          <h3 class="card-title">Services We Offer</h3>
          <p class="card-text text-muted">
            <!-- <small class="text-muted"> -->
              <span class="pe-3">Travel Insurance</span>
              <span class="pe-3"><u>Flights</u></span>
              <span class="pe-3">Sightseeing</span>
              <span>Accommodation</span>
           <!-- </small> -->
           </p> 
           <!-- <hr> -->
          <p class="card-text text-muted pt-3">Flight or flying is the process by which an object moves through a space without contacting any planetary surface, either within an atmosphere (i.e. air flight or aviation) or through the vacuum of outer space (i.e. spaceflight). This can be achieved by generating aerodynamic lift associated with gliding or propulsive thrust, aerostatically using buoyancy, or by ballistic movement.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="https://cdn.pixabay.com/photo/2012/02/29/16/14/passenger-plane-19469_1280.jpg"class="img-fluid" alt="Accommodation">
      </div>
    </div>
  </div>

  <div class="card my-5">
    <div class="row g-0">
        <div class="col-md-6">
        <div class="card-body">
          <p class="card-text">We Will Make Your Vacation Unforgetable.</p>
          <h3 class="card-title">Services We Offer</h3>
          <p class="card-text text-muted">
            <!-- <small class="text-muted"> -->
              <span class="pe-3">Travel Insurance</span>
              <span class="pe-3">Flights</span>
              <span class="pe-3"><u>Sightseeing</u></span>
              <span>Accommodation</span>
           <!-- </small> -->
           </p> 
           <!-- <hr> -->
          <p class="card-text text-muted pt-3">Lodging refers to the renting of a short-term dwelling. People who travel and stay away from home for more than a day need lodging for sleep, rest, food, safety, shelter from cold temperatures or rain, storage of luggage and access to common household functions. Lodging is a form of the sharing economy.</p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="https://cdn.pixabay.com/photo/2017/03/17/11/50/havana-2151324_1280.jpg"class="img-fluid" alt="Sightseeing">
      </div>
    </div>
  </div>

  <div class="card my-5">
    <div class="row g-0">
        <div class="col-md-6 col-sm-12">
        <div class="card-body">
          <p class="card-text">We Will Make Your Vacation Unforgetable.</p>
          <h3 class="card-title">Services We Offer</h3>
          <p class="card-text text-muted">
            <!-- <small class="text-muted"> -->
              <span class="pe-3">Travel Insurance</span>
              <span class="pe-3">Flights</span>
              <span class="pe-3">Sightseeing</span>
              <span><u>Accommodation</u></span>
           <!-- </small> -->
           </p> 
           <!-- <hr> -->
          <p class="card-text text-muted pt-3">Tourism is travel for pleasure or business; also the theory and practice of touring, the business of attracting, accommodating, and entertaining tourists, and the business of operating tours. The World Tourism Organization defines tourism more generally, in terms which go "beyond the common perception of tourism as being limited to holiday activity only", as people "traveling to and staying in places outside their usual environment for not more than one consecutive year for leisure and not less than 24 hours, business and other purposes".</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <img src="https://cdn.pixabay.com/photo/2019/08/19/13/58/bed-4416515_1280.jpg"class="img-fluid" alt="Accommodation">
      </div>
    </div>
  </div>